.submit{
    border-radius: 8px;

}
.submit{
    cursor: pointer;
    border-radius: 12px;
}
.page5{
    border: 7px solid ;
    background-color:  rgb(88, 228, 238,.5);
}
.page6{
    border: 7px solid ;
    background-color:  rgb(88, 228, 238,.5);
}
.ques1a{
    cursor: pointer;
    
}